.toggler-group {
  position: relative;

  label.holder {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ccc;

    &:hover {
      background-color: #0b5ed7;
    }

    i {
      color: #000;
    }
  }
  .toggler {
    display: none;
  }
}
.input-holder input {
  padding-right: 80px !important;
}
input[type=checkbox].toggler {
  &:checked ~ label.holder {
    background-color: #0d6efd;

    i {
      color: #fff;
    }
  }
  &:checked ~ .input-holder input {
    display: block !important;
  }
  &:checked ~ .input-holder input.pw {
    display: none !important;
  }
  
}

.fa-sync {
  width: 12px;
  margin-top: -5px;
}

#pw-gen {
  .presentation {
    border: solid 1px #ddd;
    text-align: center;
    border-radius: 4px;
    background: #fafafa;
    padding: 4px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
}
