<div class="row">
  <div class="col-12">
    <input type="checkbox" name="useWordsToggle" id="useWordsToggle"  class="toggler" [(ngModel)]="generatorSettings.useWords">
    <label for="useWordsToggle" class="holder btn btn-default" >
      <div class="handle"></div>
    </label>
    <label for="useWordsToggle" class="text">Use Words</label>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <input type="checkbox" name="useNumbersToggle" id="useNumbersToggle"  class="toggler" >
    <label for="useNumbersToggle" class="holder btn btn-default" >
      <div class="handle"></div>
    </label>
    <label for="useNumbersToggle" class="text">Use Numbers</label>
  </div>
</div>
<div class="row" *ngIf="!generatorSettings.useWords">
  <div class="col-12">
    <input type="checkbox" name="useSymbolsToggle" id="useSymbolsToggle"  class="toggler" >
    <label for="useSymbolsToggle" class="holder btn btn-default" >
      <div class="handle"></div>
    </label>
    <label for="useNumbersToggle" class="text">Use Special Characters</label>
  </div>
</div>
<fieldset class="form-group" *ngIf="generatorSettings.useWords">
  <label for="numWords">Number of Words</label>
  <input class="form-range" type="range" id="numWords" name="numWords" min="2" max="10">
</fieldset>
