
input[type=checkbox].toggler {
  display: none;

  & ~ label.holder {
    height: 20px;
    width: 35px;
    border-radius: 20px;
    background: #ccc;
    position: relative;
    cursor: pointer;
    margin-top: -3px;


    .handle {
      position: absolute;
      background: #fff;
      top: 1px;
      left: 2px;

      transition: left .5s ease;

      height: 16px;
      width: 16px;
      border-radius: 16px;
    }
  }

  & ~ label.text {
    margin-left: 2px;
    cursor: pointer;
  }


  &:checked ~ label.holder {
    background-color: #0d6efd;

    i {
      color: #fff;
    }

    .handle {
      left: 14px;
    }
  }

  
}
