<!-- Modal -->
<div class="modal fade" tabindex="-1" id="entryModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hideModal()"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="hideModal()">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<p>listing works!</p>
<a routerLink="/listing/settings">Settings</a><br/>
<a routerLink="/listing/add_new">Add New</a><br/>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="list-group-item" *ngFor="let entry of sharedService.titlesList; let i = index">
        <div class="item-holder" (click)="loadEntry(entry.id)" data-bs-toggle="modal" data-bs-target="#entryModal">
          <h4>{{ entry.title }}</h4>
          <span class="username">{{entry.username}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
